<section class="hero">
</section>
<div class="overlay">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered animated animate__animated animate__bounceInDown bounceInDown">Bienvenid@ a Hey! Open</h1>
      <h2 class="subtitle is-4 has-text-centered animated animate__animated animate__fadeIn">Conectando raquetas</h2>
      <a class="button is-primary is-large animated animate__animated animate__fadeIn" href="#">Comprar ahora</a>
    </div>
  </div>
</div>

