<section class="section contact">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h2 class="title is-2">Contáctanos</h2>
        <form>
          <div class="field">
            <label class="label">Nombre :</label>
            <div class="control">
              <input class="input" type="text" placeholder="Tu Nombre">
            </div>
          </div>
          <div class="field">
            <label class="label">Correo Electrónico :</label>
            <div class="control">
              <input class="input" type="email" placeholder="Correo Electrónico">
            </div>
          </div>
          <div class="field">
            <label class="label">Mensaje :</label>
            <div class="control">
              <textarea class="textarea" placeholder="Escribenos tu mensaje"></textarea>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary">Enviar Mensaje</button>
          </div>
        </form>
      </div>
      <div class="column is-half">
        <h2 class="title is-2">Información de Contacto</h2>
        <p>
          Address: 123 Tennis Street, City, Country<br>
          Phone: +1 123 456 789<br>
          Email: info@heyopen.com
        </p>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d701176.1206844078!2d-99.55769962203412!3d20.101372899786746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d10b2dd421a8b7%3A0x7be2f025c2a2ab0a!2sFR%20Y%20MA%20Inmobiliaria%20S.A%20de%20C.V!5e0!3m2!1ses-419!2smx!4v1689887326469!5m2!1ses-419!2smx" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
