<div class="login-container">
  <h1 class="title-login">Inicio de Sesión</h1>
  <form class="login-form">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Correo Electrónico">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="password" placeholder="Contraseña">
      </div>
    </div>
    <button class="button mt-4 is-black is-fullwidth">Iniciar Sesión</button>
  </form>
  <div class="buttons-container mt-4">
    <button class="button">
      <img src="assets/images/google.png" alt="">
    </button>
    <button class="button">
      <img src="assets/images/facebook.png" alt="">
    </button>
  </div>
  <span class="mt-4">¿Aún no tienes una cuenta? <a>Crea una ahora</a></span>
</div>
