<div>
  <app-hero></app-hero>
  <section class="section shop">
    <div class="container">
      <app-for-you></app-for-you>
    </div>
  </section>
  <section class="section about-us">
    <div class="container">
      <div class="about-us-section">
        <h2 class="title is-3">Acerca de Nosotros</h2>
          <p class="subtitle is-5">Nos apasionan los deportes de raquetas y nos dedicamos a llevar el deporte a los entusiastas de todo el mundo.</p>
          <p>En Hey! Open, , organizamos emocionantes torneos de tenis que reúnen a jugadores de todos los niveles. Ya sea que sea un principiante o un profesional experimentado, hay un torneo para usted.</p>
          <br>
          <p>Pero no se trata sólo de torneos. También ofrecemos una amplia gama de ropa y accesorios de tenis de alta calidad que te harán lucir y sentirte lo mejor posible en la cancha. Nuestra colección incluye atuendos elegantes, calzado cómodo y equipamiento esencial para mejorar tu rendimiento.</p>
          <br>
          <!-- <p>Con nuestros instructores experimentados, puede mejorar sus habilidades y técnicas a través de sesiones de entrenamiento profesional. Brindamos programas de entrenamiento personalizados adaptados a sus objetivos individuales, ayudándolo a alcanzar nuevas alturas en su viaje de tenis.</p>
          <br> -->
          <p>Únase a nuestra vibrante comunidad de tenis, conéctese con personas de ideas afines y comparta su pasión por el juego. Ya sea que esté buscando competir, aprender o simplemente disfrutar del deporte, Hey! Open es su destino final.</p>
          <a routerLink="/register" class="button is-primary">Únete ahora</a>
      </div>
      <div class="about-us-image">
      </div>
        <!-- <div class="column is-two-thirds">
          <h2 class="title is-2">Acerca de Nosotros</h2>
          <p class="subtitle is-5">Nos apasionan los deportes de raquetas y nos dedicamos a llevar el deporte a los entusiastas de todo el mundo.</p>
          <p>En Hey! Open, , organizamos emocionantes torneos de tenis que reúnen a jugadores de todos los niveles. Ya sea que sea un principiante o un profesional experimentado, hay un torneo para usted.</p>
          <br>
          <p>Pero no se trata sólo de torneos. También ofrecemos una amplia gama de ropa y accesorios de tenis de alta calidad que te harán lucir y sentirte lo mejor posible en la cancha. Nuestra colección incluye atuendos elegantes, calzado cómodo y equipamiento esencial para mejorar tu rendimiento.</p>
          <br>
          <p>Con nuestros instructores experimentados, puede mejorar sus habilidades y técnicas a través de sesiones de entrenamiento profesional. Brindamos programas de entrenamiento personalizados adaptados a sus objetivos individuales, ayudándolo a alcanzar nuevas alturas en su viaje de tenis.</p>
          <br>
          <p>Únase a nuestra vibrante comunidad de tenis, conéctese con personas de ideas afines y comparta su pasión por el juego. Ya sea que esté buscando competir, aprender o simplemente disfrutar del deporte, Hey! Open es su destino final.</p>
          <a routerLink="/register" class="button is-primary">Únete ahora</a>
        </div> -->
      </div>
  </section>
  <app-discount-hero></app-discount-hero>
  <section class="section tournaments">
    <div class="container">
      <h2 class="title is-2">Nuestros Torneos</h2>
      <div class="columns">
        <div class="column">
          <div class="tournament-card">
            <img src="assets/images/level1.png" alt="Tournament 1" class="tournament-image">
            <div class="tournament-details">
              <h3 class="tournament-title">Torneo Principiante</h3>
              <p class="tournament-date">Fecha: Proximamente</p>
              <p class="tournament-description">Únase a nosotros para nuestro Torneo de Principiantes. Pon a prueba tus habilidades contra los mejores jugadores de esta categoría.</p>
              <ul class="tournament-description-list">
                <li>Formato: Singles</li>
                <li>Superficie: Grass</li>
                <li>Restricciones: Ninguna</li>
              </ul>
              <div class="winner-compensation">
                <h4 class="tournament-subtitle">Ganador :</h4>
                <p>$2,000 efectivo</p>
                <p>Trofeo</p>
                <p>Productos de Hey! Open</p>
              </div>
              <a href="#" class="button is-primary">Registrate Ahora</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="tournament-card">
            <img src="assets/images/level3.png" alt="Tournament 2" class="tournament-image">
            <div class="tournament-details">
              <h3 class="tournament-title">Torneo Intermedio</h3>
              <p class="tournament-date">Fecha: Proximamente</p>
              <p class="tournament-description">No te pierdas el Torneo Intermedio repleto de acción y grandes emociones. Compite por la gloria y valiosos premios</p>
              <ul class="tournament-description-list">
                <li>Formato: Singles</li>
                <li>Superficie: Grass</li>
                <li>Restricciones: Ninguna</li>
              </ul>
              <div class="winner-compensation">
                <h4 class="tournament-subtitle">Ganador :</h4>
                <p>$4,000 efectivo</p>
                <p>Trofeo</p>
                <p>Productos de Hey! Open</p>
              </div>
              <a href="#" class="button is-primary">Registrate Ahora</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="tournament-card">
            <img src="assets/images/level2.png" alt="Tournament 3" class="tournament-image">
            <div class="tournament-details">
              <h3 class="tournament-title">Torneo Avanzado</h3>
              <p class="tournament-date">Fecha: Proximamente</p>
              <p class="tournament-description">¿Eres todo un profesional? Compite en nuestra emocionante Torneo Avanzado. ¡Únete a la emoción!.</p>
              <ul class="tournament-description-list">
                <li>Formato: Singles</li>
                <li>Superficie: Grass</li>
                <li>Restricciones: Ninguna</li>
              </ul>
              <div class="winner-compensation">
                <h4 class="tournament-subtitle">Ganador :</h4>
                <p>$6,000 efectivo</p>
                <p>Trofeo</p>
                <p>Productos de Hey! Open</p>
              </div>
              <a href="#" class="button is-primary">Registrate Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section blog">
    <div class="container">
      <h2 class="title is-2">Últimas noticias</h2>
      <div class="columns is-multiline">
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="blog-card">
            <img src="assets/images/servicio.avif" alt="Blog Post 1" class="blog-image">
            <div class="blog-details">
              <h3 class="blog-title">10 consejos para mejorar tu servicio de tennis</h3>
              <p class="blog-date">Publicado el 10 Julio, 2023</p>
              <p class="blog-excerpt">¿Quieres llevar tu servicio al siguiente nivel? Echa un vistazo a estos 10 valiosos consejos para mejorar tu técnica y potencia de saque de tenis.</p>
              <a href="https://www.muysencillo.com/10-consejos-para-mejorar-el-saque-en-tenis/" target="_blank" class="button is-primary">Leer Más</a>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="blog-card">
            <img src="assets/images/pies.avif" alt="Blog Post 1" class="blog-image">
            <div class="blog-details">
              <h3 class="blog-title">La importancia del juego de pies en el tenis</h3>
              <p class="blog-date">Publicado el 12 Julio, 2023</p>
              <p class="blog-excerpt">Descubra el papel crucial del juego de pies en el tenis y cómo mejorar su juego de pies puede mejorar su rendimiento general en la cancha..</p>
              <br>
              <a href="https://www.puntodebreak.com/2018/04/02/pies" target="_blank" class="button is-primary">Leer Más</a>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="blog-card">
            <img src="assets/images/slice.avif" alt="Blog Post 1" class="blog-image">
            <div class="blog-details">
              <h3 class="blog-title">Dominar el corte de revés</h3>
              <br>
              <p class="blog-date">Publicado el 14 Julio, 2023</p>
              <p class="blog-excerpt">Aprenda la técnica y las tácticas adecuadas para perfeccionar su golpe cortado de revés y agregue un arma poderosa a su juego de tenis.</p>
              <br>
              <a href="https://as.com/opinion/2018/07/28/blogs/1532804765_379239.html" target="_blank" class="button is-primary">Leer Más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
